@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css');

html, body {
  height: 100%;
}

body {
  font: 12px/1 'Montserrat', sans-serif;
  color: #333;
  overflow-x: hidden;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

 /* whole page overflow hidden so there is no scrolling */
 overflow: hidden 
}

/* Side-Navigation Panel */
.wrapper {
  display: -webkit-flex;
  display: flex;
  min-height: 100%;
}

.sidebar {
  position: absolute;
  width: 220px;
}

.content {
  -webkit-flex: 1;
  flex: 1;
  padding: 30px;
  background:white;
  box-shadow: 0 0 5px rgb(187, 179, 179);
  transform: translate3d(0,0,0);
  transition: all .3s;
  /* margin bottom to keep the page drop shadow border */
  margin-bottom: 15px;
}

.content.content-is-open {
  margin-left: 220px;
}

.side-panel-toggle {
  cursor: pointer;
  font-size: 42px;
}



/* Items in Navigation Panel*/

.title {
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #222;
  border-bottom: 1px solid #222;
  background:darkgray;
}

.nav li a {
  position: relative;
  display: block;
  padding: 15px 15px 15px 50px;
  font-size: 12px;
  color: #222;
  border-bottom: 1px solid #222;
  background-color: darkgray;

 
}

.nav li a:before {
  font: 14px fontawesome;
  position: absolute;
  top: 14px;
  left: 20px;
  
}

.nav li:nth-child(1) a:before { content: '\f0fe'; }
.nav li:nth-child(2) a:before { content: '\f086'; }
.nav li:nth-child(3) a:before { content: '\f084'; }


.nav li a:hover {
  background: lightgray;
}

ul{ 
    list-style-type: none; 
    
};


/* Description */

h1 {
  margin: 25px 0 15px;
  font-size: 28px;
  font-weight: 400;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  color: #999;
}
.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.siteHeading{
    margin-right: 30%;
    font-size: 28px;
}


  /* color+download nav bar */
		#colorNav{
			display: flex;
		}
		#colorNav div{
			width: 20%;
			height: 30px;
		}
		#cred{
			background-color: red;
		}
		#cblue{
			background-color: blue;
		}
		#cgreen{
			background-color: green;
		}
		#cblack{
			background-color: black;
		}
		#cwhite{
			background-color: white;
    }
    #btn-download{
      border: 3px solid black;
      display: block;
      text-align: center;
      box-sizing: border-box;
      height: 30px;
      text-decoration: none;
      font-size: 16px;
      padding-top: 4px;
      color: black;
    }
    #btn-download:hover{
      background-color: black;
      color: white;
    }
